@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "~antd/dist/antd.css";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-image: url("../../pictures/circles-light.png");
}

.index {
  background-image: url("../../pictures/flashpacker_logo.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 93vh;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 900px) {
  h3 {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 650px) {
  .index {
    background-image: url("../../pictures/flashpacker_logoSmall.jpg");
  }
  h3 {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 0.6rem;
  }
}

.aboutDiv {
  background-image: url("../../pictures/about.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 93vh;
  overflow-y: hidden;
  background-size: cover;
}

.top-bar,
.top-bar ul {
  background-color: #abc0c6;
}

.top-bar {
  background-color: #abc0c6;
  padding: 4px;
}

.button {
  background-color: #be3c54;
}

.button:hover {
  background-color: #f1c40f;
}

.top-bar-left .menu a {
  padding: 0;
}

.top-bar-right .menu a {
  color: white;
  position: relative;
  z-index: 1;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
}

.menu a:hover {
  color: white;
}

.menu a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #f1c40f;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.menu a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.menu .menu-text {
  padding: 0%;
}

h3 {
  height: 45vh;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background-color: #364d79;
  width: 70%;
  opacity: 0.5;
  margin: 115px auto;
  font-family: "Philosopher", sans-serif;
}

.showPageImage {
  background-image: url("../../pictures/Browser.jpeg");
  display: flex;
  height: 500px;
  text-align: center;
  color: white;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 85% 85% / 30%;
}

.showPageImage h1 {
  font-family: "Luminari";
  font-size: 4rem;
  text-shadow: 2px 2px 4px #000000;
}

.showPageImage h2 {
  font-family: "Luminari";
  text-shadow: 2px 2px 4px #000000;
}

.SearchResults {
  text-align: center;
  font-family: "Avantgarde";
}

.spinForm {
  display: flex;
}

.spin {
  margin: 1opx auto;
  width: 80px;
}

.buttonbottom {
  margin-top: 20px;
}

@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == "left", "right", "left");

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == "top", "bottom", "top");

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#64f0f5, #f1c40f, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  width: 20%;
  text-shadow: 2px 2px 4px #000000;
  margin: 20px auto;
  border-radius: 6px;

  &:focus {
    outline: 2px dotted #55d7dc;
  }
}
