@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "~antd/dist/antd.css";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-image: url("../../pictures/circles-light.png");
}

.index {
  background-image: url("../../pictures/flashpacker_logo.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 93vh;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 1200px) {
  h3 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 900px) {
  h3 {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 650px) {
  .index {
    background-image: url("../../pictures/flashpacker_logoSmall.jpg");
  }
  h3 {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 0.6rem;
  }
}

.aboutDiv {
  background-image: url("../../pictures/about.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 93vh;
  overflow-y: hidden;
  background-size: cover;
}

// this is just a test

.top-bar,
.top-bar ul {
  background-color: #abc0c6;
}

.top-bar {
  background-color: #abc0c6;
  padding: 4px;
}

.button {
  background-color: #be3c54;
}

.button:hover {
  background-color: #f1c40f;
}

.top-bar-left .menu a {
  padding: 0;
}

.top-bar-right .menu a {
  color: white;
  position: relative;
  z-index: 1;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
}

.menu a:hover {
  color: white;
}

.menu a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #f1c40f;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.menu a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.menu .menu-text {
  padding: 0%;
}

h3 {
  height: 45vh;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background-color: #364d79;
  width: 70%;
  opacity: 0.5;
  margin: 115px auto;
  font-family: "Philosopher", sans-serif;
}

.showPageImage {
  background-image: url("../../pictures/Browser.jpeg");
  display: flex;
  height: 500px;
  text-align: center;
  color: white;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 85% 85% / 30%;
}

.showPageImage h1 {
  font-family: "Luminari";
  font-size: 4rem;
  text-shadow: 2px 2px 4px #000000;
}

.showPageImage h2 {
  font-family: "Luminari";
  text-shadow: 2px 2px 4px #000000;
}

.center h2 {
  font-family: "Luminari";
  font-size: 2rem;
  text-shadow: 2px 2px 4px #000000;
}

.SearchResults {
  text-align: center;
  font-family: "Avantgarde";
}

.spinForm {
  display: flex;
}

.spin {
  margin: 1opx auto;
  width: 80px;
}

.buttonbottom {
  margin-top: 20px;
}

.tripTiles {
  width: 60%;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}

.tripTiles div {
  margin-top: 15px;
  margin-bottom: 10px;
}

.site-card-wrapper {
  margin-top: 15px;
}

.userProfileDiv {
  display: flex;
  margin: auto;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
}

.userProfileDiv img {
  width: 100%;
  height: 500px;
  border-radius: 0 0 85% 85% / 30%;
}

.center {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Luminari";
  font-size: 4rem;
  text-shadow: 2px 2px 4px #000000;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: "Luminari";
  font-size: 4rem;
  text-shadow: 2px 2px 4px #000000;
}

.profileTable {
  width: 90%;
  margin: auto;
}

@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == "left", "right", "left");

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == "top", "bottom", "top");

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#64f0f5, #f1c40f, 4px, bottom, right);
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  width: 20%;
  text-shadow: 2px 2px 4px #000000;
  margin: 20px auto;
  border-radius: 6px;

  &:focus {
    outline: 2px dotted #55d7dc;
  }
}

get rid of this button .btn1 {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: auto;
  width: 10%;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    // background:rgba(0,0,0,.5);
    // color:white;
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      // border-color:white;
    }
  }
}

.data-container {
  background: #ffebee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBottomBrowsing {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

//this is the plane

.box {
  position: absolute;
  top: calc(50% - 125px);
  top: -webkit-calc(50% - 125px);
  left: calc(50% - 300px);
  left: -webkit-calc(50% - 300px);
}
.clip {
  width: 20px;
  height: 50px;
  border: solid 3px #666;
  border-width: 3px 3px 0 0;
  margin: auto;
  border-radius: 1000px 1000px 00;
  position: absolute;
  left: 162px;
  box-sizing: border-box;
  top: -35px;
}

.clip:before {
  content: "";
  position: absolute;
  border: solid 3px #666;
  border-radius: 1000px 1000px 0 0;
  border-width: 3px 0 0 3px;
  top: -3px;
  right: 0;
  width: 100%;
  height: 150%;
  display: block;
  box-sizing: border-box;
  z-index: -2;
}

.clip:after {
  content: "";
  position: absolute;
  border: solid 3px #666;
  border-radius: 0 0 1000px 1000px;
  border-width: 0 3px 3px;
  top: 40%;
  right: -3px;
  width: 80%;
  height: 140%;
  display: block;
  box-sizing: border-box;
  z-index: 1;
}
.ticket {
  width: 600px;
  height: 250px;
  background: #abc0c6;
  border-radius: 3px;
  box-shadow: 0 0 100px #aaa;
}

.left {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0px;
  left: -5px;
}

.left li {
  width: 0px;
  height: 0px;
}

.left li:nth-child(-n + 2) {
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #abc0c6;
}

.left li:nth-child(3),
.left li:nth-child(6) {
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #eeeeee;
}

.left li:nth-child(4) {
  margin-top: 8px;
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #eeeeee;
}

.left li:nth-child(5) {
  margin-top: 8px;
  margin-left: -1px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #eeeeee;
}

.left li:nth-child(7),
.left li:nth-child(9),
.left li:nth-child(11),
.left li:nth-child(12) {
  margin-top: 7px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e5e5e5;
}

.left li:nth-child(8) {
  margin-top: 7px;
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e5e5e5;
}

.left li:nth-child(10) {
  margin-top: 7px;
  margin-left: 1px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #e5e5e5;
}

.left li:nth-child(13) {
  margin-top: 7px;
  margin-left: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #abc0c6;
}

.left li:nth-child(14) {
  margin-top: 7px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #abc0c6;
}

.right {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0px;
  right: -5px;
}

.right li:nth-child(-n + 2) {
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #abc0c6;
}

.right li:nth-child(3),
.right li:nth-child(4),
.right li:nth-child(6) {
  margin-top: 8px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #eeeeee;
}

.right li:nth-child(5) {
  margin-top: 8px;
  margin-left: -2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #eeeeee;
}

.right li:nth-child(8),
.right li:nth-child(9),
.right li:nth-child(11) {
  margin-top: 7px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e5e5e5;
}

.right li:nth-child(7) {
  margin-top: 7px;
  margin-left: -3px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e5e5e5;
}

.right li:nth-child(10) {
  margin-top: 7px;
  margin-left: -2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #e5e5e5;
}

.right li:nth-child(12) {
  margin-top: 7px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #e5e5e5;
}

.right li:nth-child(13),
.right li:nth-child(14) {
  margin-top: 7px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #abc0c6;
}

.ticket:after {
  content: "";
  position: absolute;
  right: 200px;
  top: 0px;
  width: 2px;
  height: 250px;
  box-shadow: inset 0 0 0 #ffffff, inset 0 -10px 0 #999999, inset 0 -20px 0 #abc0c6,
    inset 0 -30px 0 #999999, inset 0 -40px 0 #abc0c6, inset 0 -50px 0 #999999,
    inset 0 -60px 0 #e5e5e5, inset 0 -70px 0 #999999, inset 0 -80px 0 #e5e5e5,
    inset 0 -90px 0 #999999, inset 0 -100px 0 #e5e5e5, inset 0 -110px 0 #999999,
    inset 0 -120px 0 #e5e5e5, inset 0 -130px 0 #999999, inset 0 -140px 0 #e5e5e5,
    inset 0 -150px 0 #b0b0b0, inset 0 -160px 0 #eeeeee, inset 0 -170px 0 #b0b0b0,
    inset 0 -180px 0 #eeeeee, inset 0 -190px 0 #b0b0b0, inset 0 -200px 0 #eeeeee,
    inset 0 -210px 0 #b0b0b0, inset 0 -220px 0 #abc0c6, inset 0 -230px 0 #999999,
    inset 0 -240px 0 #abc0c6, inset 0 -250px 0 #999999;
}

.content {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 170px;
  background: #eee;
}

.airline {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Arial;
  font-size: 20px;
  color: white;
}

.boarding {
  position: absolute;
  top: 10px;
  right: 220px;
  font-family: Arial;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}

.jfk {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Arial;
  font-size: 38px;
  color: #222;
}

.sfo {
  position: absolute;
  top: 10px;
  left: 180px;
  font-family: Arial;
  font-size: 38px;
  color: #222;
}

.plane {
  position: absolute;
  left: 105px;
  top: 0px;
}

.sub-content {
  background: #e5e5e5;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 70px;
}

.watermark {
  position: absolute;
  left: 5px;
  top: -10px;
  font-family: Arial;
  font-size: 110px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
}

.name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.name span {
  color: #555;
  font-size: 17px;
}

.flight {
  position: absolute;
  top: 10px;
  left: 180px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.flight span {
  color: #555;
  font-size: 17px;
}

.gate {
  position: absolute;
  top: 10px;
  left: 280px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.seat {
  position: absolute;
  top: 10px;
  left: 350px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.seat span {
  color: #555;
  font-size: 17px;
}

.boardingtime {
  position: absolute;
  top: 60px;
  left: 10px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.boardingtime span {
  color: #555;
  font-size: 17px;
}

.barcode {
  position: absolute;
  left: 8px;
  bottom: 6px;
  height: 30px;
  width: 90px;
  background: #222;
  box-shadow: inset 0 1px 0 #ffb300, inset -2px 0 0 #ffb300, inset -4px 0 0 #222,
    inset -5px 0 0 #ffb300, inset -6px 0 0 #222, inset -9px 0 0 #ffb300, inset -12px 0 0 #222,
    inset -13px 0 0 #ffb300, inset -14px 0 0 #222, inset -15px 0 0 #ffb300, inset -16px 0 0 #222,
    inset -17px 0 0 #ffb300, inset -19px 0 0 #222, inset -20px 0 0 #ffb300, inset -23px 0 0 #222,
    inset -25px 0 0 #ffb300, inset -26px 0 0 #222, inset -26px 0 0 #ffb300, inset -27px 0 0 #222,
    inset -30px 0 0 #ffb300, inset -31px 0 0 #222, inset -33px 0 0 #ffb300, inset -35px 0 0 #222,
    inset -37px 0 0 #ffb300, inset -40px 0 0 #222, inset -43px 0 0 #ffb300, inset -44px 0 0 #222,
    inset -45px 0 0 #ffb300, inset -46px 0 0 #222, inset -48px 0 0 #ffb300, inset -49px 0 0 #222,
    inset -50px 0 0 #ffb300, inset -52px 0 0 #222, inset -54px 0 0 #ffb300, inset -55px 0 0 #222,
    inset -57px 0 0 #ffb300, inset -59px 0 0 #222, inset -61px 0 0 #ffb300, inset -64px 0 0 #222,
    inset -66px 0 0 #ffb300, inset -67px 0 0 #222, inset -68px 0 0 #ffb300, inset -69px 0 0 #222,
    inset -71px 0 0 #ffb300, inset -72px 0 0 #222, inset -73px 0 0 #ffb300, inset -75px 0 0 #222,
    inset -77px 0 0 #ffb300, inset -80px 0 0 #222, inset -82px 0 0 #ffb300, inset -83px 0 0 #222,
    inset -84px 0 0 #ffb300, inset -86px 0 0 #222, inset -88px 0 0 #ffb300, inset -89px 0 0 #222,
    inset -90px 0 0 #ffb300;
}

.slip {
  left: 455px;
}

.nameslip {
  top: 60px;
  left: 410px;
}

.flightslip {
  left: 410px;
}

.seatslip {
  left: 540px;
}

.jfkslip {
  font-size: 30px;
  top: 20px;
  left: 410px;
}

.sfoslip {
  font-size: 30px;
  top: 20px;
  left: 530px;
}

.planeslip {
  top: 10px;
  left: 475px;
}

.airlineslip {
  left: 455px;
}
